state_machine_config.json
{
  "StartAt": "DownloadFeeds",
  "States": {
    "DownloadFeeds": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:[account_id]:function:nea_download_feed",
      "Next": "ComposeResults",
      "ResultPath": "$.results"
    },
    "ComposeResults": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:[account_id]:function:nea_compose_results",
      "Next": "SendEmail",
      "ResultPath": "$.message"
    },
    "SendEmail": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:[account_id]:function:nea_send_email",
      "End": true
    }
  }
}
